
    /*En este ejemplo, hemos utilizado CSS flexbox para que los cards se muestren horizontalmente en la clase .contenedor. 
      La propiedad flex-wrap: wrap permite que los cards se envuelvan a la siguiente línea cuando no caben en la pantalla, 
    y justify-content: space-between distribuye el espacio horizontalmente entre los elementos.
      Además, hemos establecido un ancho fijo para cada card utilizando flex-basis para que ocupen aproximadamente un tercio 
    del ancho del contenedor, y hemos añadido un margen para separarlos. 
    Esto crea una disposición horizontal ordenada de los cards. Ajusta los valores según tus necesidades de diseño.
    */
    /* Estilo para la clase "contenedor" */
     body {   
      font-family: Georgia, 'Times New Roman', Times, serif;
      
      margin: 0;   
      padding: 0;   
      width: 100%;   
      height: 100%;   
      text-align: center;
      /*overflow: hidden; /* Opcional: para evitar barras de desplazamiento */}

      .main{
        padding-top: 15rem;
        justify-content: center;
      }

      .producto h1{
      
        font-size: 30px;
        letter-spacing: 6px;
        padding-left: 1em;
        color: green;
        text-align: center;
        font-weight: 600;
        justify-content: center;
      }
      .producto h1:hover{
        color: orange;
      }
    
    .contenedor {
      width: 100%;
      max-width: 850%;
      margin: 0 0;
      padding-top: 3em;
      margin-bottom: 3em;

      display: flex; /* Muestra los elementos hijos en línea (horizontalmente) */
      flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea cuando no caben en la pantalla */
      justify-content: space-between; /* Distribuye el espacio horizontalmente entre los elementos */
     /* padding: 15px; */
     
    }


    .header{
      background: url(imgs/banner1.jpg) no-repeat;
      margin-top: 0px;
      overflow: hidden;
      background-size: cover;
      display: flex;
      min-height: 100px;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-radius: 0px;
      z-index: 100;

      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
    }

    a{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
    }

    nav a{
      font-weight: 600;
      padding-right: 10px;
      align-items: center;
    }
    nav a:hover{
      color:orange;
    }
    .encabezado-logo img {
      width: 150px;
      height: 150px;
      display: flex;
      padding: 10px;
      border-radius: 100px;
    }
    
    .nombre-tienda{
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 30px;
    }
   

    .icono-carrito a{
      
      color:orange;
      padding: 10px;
      margin-right: 50px;
    }

    .icono-carrito a:hover{
      color: aliceblue !important;
      transform: scale(1.2);
    }

    h1 {
      border: 0px solid #ccc;
      display: flex;
      color: #6c2eb9;
      font-weight: normal;
      font-size: 20px;
      font-family: Arial;
      text-transform: uppercase;
      padding: 3px;
    }

   /* .producto h1{
      padding-left: 10px;
      letter-spacing: 6px;
      font-weight: 600;
      color:chocolate;
      
    }*/

    

   /* Estilo para los cards */
.card {
  margin: 5px; /* Agrega un margen entre los cards y/o tarjetas */
  border: 1px solid #c1c2ca;
  padding: 1em;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;

  }  
  
  .card a{
    color: #0E0325;
    text-decoration: none;
    
  }
  
  .card img:hover{
    transform: scale(1.2);
  }

   /* Estilos del pie de página */
   .footer {

    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.5em;
    box-sizing: border-box;
    align-self: flex-end;
  }

  /* Estilos de los iconos de redes sociales */
  .footer-icons {
    display: flex;
  
    gap: 5px;
    
    

 
  
  }

  .footer-icons a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
  }

  /* Estilos de los derechos de autor */
  .footer-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
  }

  

    

  